@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #121212; 
    color: #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.result-container {
    background: #2c3e50aa; 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    max-width: 90%;
    width: 600px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #D8D8D8;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #B8B8B8;
}

p {
    font-size: 1.2rem;
    background: rgba(30, 42, 56, 0.4);
    backdrop-filter: blur(12px);
    padding: 15px;
    border-radius: 10px;
    display: block;
    max-width: 80%;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: left;
    max-height: 200px; 
    overflow-y: auto; 
}

#message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    background: #394867;
    color: #E4E4E4;
    border: none;
    padding: 12px 18px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #A68D60;
    color: #121212;
}

#image-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#image-preview.hidden {
    display: none;
}

#preview-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

#close-preview {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #E4E4E4;
    cursor: pointer;
    transition: color 0.3s;
}

#close-preview:hover {
    color: #A68D60;
}

@media (max-width: 800px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}
