<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Storage</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Password Storage</h1>
    <div id="password">
        <form action="/store_password" method="POST" enctype="multipart/form-data">
            <h2>Store a Password</h2>
            <input type="password" name="password" placeholder="Enter password" required>
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Store</button>
        </form>
    
        <form action="/compare_password" method="POST" enctype="multipart/form-data">
            <h2>Verify a Password</h2>
            <input type="password" name="password" placeholder="Enter password" required>
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Verify</button>
        </form>
    
    </div>
    <a href="/" class="store-btn">Back to Home</a>

    {% if message %}
    <p class="message">{{ message }}</p>
{% endif %}

{% if download_image %}
    <a id="auto-download" href="{{ url_for('static', filename=download_image) }}" download style="display:none;"></a>
    <script>
        window.onload = function() {
            document.getElementById("auto-download").click();
        }
    </script>
{% endif %}

</body>
</html>
